.homepage-container {
    background-color: var(--pallette-misty-rose);
    z-index: 10;
}

.homepage-section-1 {
    background-color: var(--pallette-space-cadet);
    // max-height: 350px;

    
    svg {
        display: block;
        transform-origin: bottom;
        animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
    }

    h1 {
        font-size: 6rem;
        padding-top: 1rem;
        margin: 0;
    }

    h5 {
        padding-bottom: 1rem;
        font-size: 1.5rem;
    }

    h1, h5 {
        color: var(--pallette-indian-red);
        font-weight: bold;
        text-align: center;
    }
}

@keyframes animateWave {
    0% {
        transform: scale(1,0);
    }
    100% {
        transform: scale(1,1);
    }
}

@media screen and (max-width: 636px) {
    .homepage-section-1 {
        h1 {
            font-size: 12vw;
        }

        h5 {
            font-size: 4vw;
        }
    }
}