@import "../../Colors.scss";

.about-container {
    background-color: var(--pallette-misty-rose);
}

.about-header {
    background-color: var(--pallette-space-cadet);

    h1, h5 {
        margin: 0;
        padding: 0;
        color: var(--pallette-indian-red);
        font-weight: bold;
        text-align: center;
    }

    h1 {
        font-size: 6rem;
        padding-top: 1rem;
        margin: 0;
    }

    h5 {
        // padding-bottom: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 636px) {
    .about-header {
        h1 {
            font-size: 12vw;
        }

        h5 {
            font-size: 4vw;
        }
    }
}