footer {
    margin-top: auto;
    padding: 1rem;
    // height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--pallette-space-cadet);
    color: var(--pallette-indian-red);

    p, ul {
        margin: 0;
    }

    ul, p {
        height: fit-content;
    }

    div {
        text-align: center;
    }
}

@media screen and (max-width: 636px) {
    footer {
        flex-direction: column;
    }
}

.footer-container {
    background-color: var(--pallette-misty-rose);
    overflow: hidden;
}

.footer-wave-container {
    width: 100vw;
    transform: translateY(1px) translateX(-1px) scaleX(1.1);
}