:root {
    --pallette-indian-red: #DB5461;
    --pallette-misty-rose: #FFD9CE;
    --pallette-dark-slate-blue: #593C8F;
    --pallette-electric-blue: #8EF9F3;
    --pallette-space-cadet: #171738;


    /* Amplyst colors */
    --amplyst-header-color: #1f1c22;
    --amplyst-header-color-light: #33333b;
    --amplyst-header-color-dark: #242127;
    --amplyst-header-color-super-light: #504a53;
    --amplyst-header-text-color: #E0F1F9;
    --amplyst-text-accent-color: #663BAD;
    --amplyst-text-accent-color-darkish: #492a7a;
    --amplyst-text-accent-color-bright: #884fe4;
    --amplyst-text-accent-color-super-bright: #c4a0ff;
    --amplyst-text-accent-color-dark: #190e29;
    --amplyst-text-accent-color-rgb: rgb(102, 59, 173);
    --amplyst-nav-link-color: rgba(255, 255, 255, 0.55);
}