@import "./Colors.scss";

.page-header {
  background-color: var(--pallette-space-cadet);
}

.page-header h1, h5 {
  margin: 0;
  padding: 0;
  color: var(--pallette-indian-red);
  font-weight: bold;
  text-align: center;
}

.page-header h1 {
  font-size: 6rem;
  padding-top: 1rem;
  margin: 0;
}

.page-header h5 {
  // padding-bottom: 1rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 636px) {
  .page-header h1 {
    font-size: 12vw;
  }

  .page-header h5 {
    font-size: 4vw;
  }
}

// @keyframes animateWave {
//   0% {
//       transform: scale(1,0);
//   }
//   100% {
//       transform: scale(1,1);
//   }
// }

// svg {
//   display: block;
//   transform-origin: bottom;
//   animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
// }

body, html {
  margin: 0;
  height: 100vh;
  // overflow: overlay;
  background-color: var(--pallette-misty-rose);
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(10px, 400px) );
  gap: 3rem;
  justify-content: center;
  width: 100%;
  max-width: 1500px;
  margin-top: 2rem;
  padding: 1rem;
}

@media screen and (max-width: 894px) {
  .project-cards {
      grid-template-columns: repeat( auto-fit, minmax(10px, 600px) );
  }
}

.header-wave-container {
  transform: translateY(2px);
}