@import "./Colors.scss";

body, html {
  margin: 0;
  height: 100vh;
  overflow: overlay;
  background-color: var(--pallette-misty-rose);
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}